<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/includes/head.ejs %>
    <% include partials/includes/functions.ejs %>
</head>
<body>
<div class="container">
    <main class="col">
        <!--<input placeholder="Search, or say Google" x-webkit-speech class="mx-auto" autocomplete="off" />-->
        <header></header>
        <div class="main-content">
            <section class="card" id="weather-card" style="padding-bottom: 4rem;">
                <div id="display">
                    <div id="top">
                        <div class="location"><%= getCurrentForecast(data.currentForecast).text %></div>
                        <div class="time"><%= time %></div>
                    </div>

                    <div id="left-information">
                        <img src="<%= getCurrentForecast(data.currentForecast).icon %>" alt="status" class="thumbnail"/>
                        <div class="temperature"><%= data.currentTemp %></div>
                        <div class="unit">&deg;C</div>
                    </div>

                    <div id="right-information">
                        <span>Humidity: <%= data.currentHumid %> %</span><br/>
                        <span>Pressure: <%= data.currentPressure %> hPa</span><br/>
                        <span>Wind speed: <%= data.wind %> mph</span>
                    </div>

                    <div id="forecast">
                        <ul>
                            <% for(let i = 0; i < 8; i++){ %>
                            <li>
                                <div><%= getDay(data.forecast.data[i].time) %></div>
                                <img src="<%= getForecast(data.forecast.data[i].icon).icon %>" alt="<%= data.forecast.data[i].summary %>" width="64">
                                <b><%= data.forecast.data[i].temperatureHigh %>°</b> <span><%= data.forecast.data[i].temperatureLow %>°</span>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Stats -->
            <section class="card">
                <div class="row">
                    <div class="col text-center">
                        <h5><strong>Temperature</strong></h5>
                        <span>Min: <%= data.minTemp %>&deg;c</span><br>
                        <span>Max: <%= data.maxTemp %>&deg;c</span><br><br>
                        <h6><strong>Last 24 hours</strong></h6>
                        <span>Min: <%= data.minTemp24 %>&deg;c</span><br>
                        <span>Max: <%= data.maxTemp24 %>&deg;c</span>
                    </div>
                    <div class="col text-center">
                        <h5><strong>Humidity</strong></h5>
                        <span>Min: <%= data.minHumid %>%</span><br>
                        <span>Max: <%= data.maxHumid %>%</span><br><br>
                        <h6 class="allign-bottom"><strong>Last 24 hours</strong></h6>
                        <span>Min: <%= data.minHumid24 %>%</span><br>
                        <span>Max: <%= data.maxHumid24 %>%</span>
                    </div>
                </div>
            </section>
            <!-- GRAPHS -->
            <section class="card">
                <h1><strong>Weather Graphs</strong></h1>
                <div id="24Hr" style="width: 100%; height: 200px; margin: 0 auto"></div>
                <div id="weekHR" style="width: 100%; height: 200px; margin: 0 auto"></div>
                <div id="week" style="width: 100%; height: 200px; margin: 0 auto"></div>
                <div id="year" style="width: 100%; height: 200px; margin: 0 auto"></div>
            </section>
        </div>
    </main>
</div>
<!--Footer Block-->
<% include partials/includes/footer.ejs %>
</body>
</html>